.panda-section-bg-info{
    background-color: #fceae8;
}

.categories img{
    width: 100px;
}

.panda-btn-buy-now{
    background-color: #ff4e95;
    color: white;
    border-radius: 10px;
    padding: 9px 25px;
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
}